<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Saylani A.I Batch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css')}}" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">HOME</a></li>
            <li><a href="{{ url_for('about') }}">ABOUT</a></li>
            <li><a href="{{ url_for('add') }}">MONGODB</a></li>
            <li><a href="{{ url_for('signin') }}">SIGNIN</a></li>
            <li><a href="{{ url_for('api') }}">ALL DATA</a></li>
        </ul>
    </nav>